{% extends "main.html" %}
{% load static %}


{% block css%}
<link rel="stylesheet" , href="{% static 'css/style.css'%}">
{% endblock %}

{% block concent%}
 <div class="container mt-3">
    <div class="row">
        <div class="col-3 left-nav">
            <!--MENÜ-->
            <div class="list-group">

             <a href="/events" class="list-group-item list-group-item-action {% if s_category == category.slug %} active {% endif %}">TÜM EVENTLER</a>
                {%for category in categories %}

                   <a HREF="{% url 'event_by_category' category.slug %}"
                      class="list-group-item list-group-item-action left-nav-button{% if s_category == category.slug %} active {% endif %}"> {{ category.name|title }}</a>

                {% endfor %}
            </div>
        </div>

        <div class="col-9 right-main"><H1>EVENTS</H1>
             {% if events|length == 0 %}
            <div CLASS="alert alert-warning" >EVENT BULUNAMADI.</div>
             {% endif %}

             {% include 'partials/_slider.html' %}

             {% for event in events %}
                  {% include '_events.html'%}
             {% endfor %}

            {% if page_obj.paginator.num_pages > 1%}
               {% include '_pagination.html'%}
            {% endif %}

        </div>

    </div>
</div>

{% endblock %}